
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="standard">
        <mat-label>Nome Usuário</mat-label>
        <input matInput [formControl] = "username" required>
        <mat-error *ngIf="username.invalid">{{getErrorUserName()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="standard">
        <mat-label>E-mail</mat-label>
        <input matInput [formControl] = "email" required>
        <mat-error *ngIf="email.invalid">{{getErrorsEmail()}}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="standard">
        <mat-label>Primeiro Nome</mat-label>
        <input matInput [formControl] = "first_name" required>
        <mat-error *ngIf="first_name.invalid">{{getErrorFirstName()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="standard">
        <mat-label>Último Nome</mat-label>
        <input matInput [formControl] = "last_name" required>
        <mat-error *ngIf="last_name.invalid">{{getErrorLastName()}}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="standard">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide1 ? 'password' : 'text'" [formControl]="password" required>
        <mat-error *ngIf="password.invalid">{{getErrorPassword()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="standard">
        <mat-label>Confirma Senha</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" [formControl]="confirm">
        <mat-error *ngIf="confirm.invalid">{{getErrorConfirm()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-12"  style="text-align: end;" >
      <button style="width: 100%;" mat-raised-button > Enviar </button>
    </div>
  </div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-4">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Nome Usuário </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="first_name">
    <th mat-header-cell *matHeaderCellDef> Primeiro Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
    <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> E-mail </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>






