.mat-form-field{
  display: block;
 // background-color: white;

}

.mat-button-base {
  margin: 8px 8px 8px 0;
}

.row:nth-child(1){
  margin-top: 0px;
}

.row {
  margin-top: -15px;
}

table {
  width: 100%;
}

